@import "../../components/css/Variables.scss";

.section-recipe {
  //   width: 50%;
  width: 50rem;
  margin: 5rem auto;
  padding: 2rem 1.5rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__img-container {
    width: 45rem;
    height: 25rem;
  }

  &__img {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: block;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__details-container {
    font-size: 1.5rem;
    color: $color-black;

    display: flex;
    flex-direction: column;
  }

  &__ingredients {
    margin: 1.5rem 0;
    flex-wrap: wrap;
  }

  &__content {
    text-align: justify;
    flex-wrap: wrap;
  }

  &__creator {
    font-size: 1.2rem;
  }
}
